@import "tailwindcss";


html, body, #root {
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x:hidden;
  overflow-y: auto;
}

@font-face {
  font-family: 'Hazmat Regular';
  src: url('/fonts/hazmat-regular.woff2') format('woff2'),
       url('/fonts/hazmat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

.font-hazmat-regular {
  font-family: 'Hazmat Regular', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Hazmat Oblique';
  src: url('/fonts/hazmat-oblique.woff2') format('woff2'),
       url('/fonts/hazmat-oblique.ttf') format('truetype');
  font-style: oblique;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

.font-hazmat-oblique {
  font-family: 'Hazmat Oblique', sans-serif;
}

@font-face {
  font-family: 'Mistrully';
  src: url('/fonts/Mistrully.woff2') format('woff2'),
       url('/fonts/Mistrully.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

.font-mistrully {
  font-family: 'Mistrully', cursive;
}
