@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow:hidden;
}

@font-face {
  font-family: 'Hazmat Regular';
  src: url('fonts/hazmat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: oblique;
}
.font-hazmat-regular  {
  font-family: 'Hazmat Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hazmat Oblique';
  src: url('fonts/hazmat-oblique.ttf') format('truetype');
  
  font-style: oblique;
}
.font-hazmat-oblique  {
  font-family: 'Hazmat Oblique';
  /* src: url('fonts/hazmat-regular.ttf') format('truetype'); */
 
  font-style: normal;
}
@font-face {
  font-family: 'Mistrully';
  src: url('fonts/Mistrully.ttf') format('truetype');
  font-weight: 400;
  font-style: oblique;
}

.font-mistrully  {
  font-family: 'Mistrully';
  /* src: url('fonts/hazmat-regular.ttf') format('truetype'); */
  font-style: normal;
}


